@require './palette.styl'

:root
  --mwRed $mwRed
  --darkBG $darkColor
  --textColor $textColor

html
body
.sidebar
  color var(--textColor)
  background-color var(--darkBG)

.navbar
  background-color var(--mwRed)
