@require './palette.styl'

$mwRed ?= #651e00
$darkColor ?= #282c34
$ntextColor ?= #e2e2e2

:root
  --mwRed $mwRed
  --ntextColor $ntextColor
  --darkColor $darkColor

html
body
.sidebar
  color var(--ntextColor)
  background-color var(--darkColor)

.navbar
  background-color var(--mwRed)
