@require './palette.styl'

$mwRed ?= #651e00
$darkColor ?= #282c34
$textColor ?= #e2e2e2

:root
  --mwRed $mwRed
  --textColor $textColor
  --darkColor $darkColor

html
body
.sidebar
  color var(--textColor)
  background-color var(--darkColor)

.navbar
  background-color var(--mwRed)
